@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}
#todo-carrito{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(#31c7cc,black);
    padding-top: 2rem;
}
#div-boton-regresar-vaciar-carrito{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#boton-regresar{
    width: 200px;
    height: 40px;
    border: 0;
    color: #7cebff;
    background-color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(255, 0, 149);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}
.titulo-carrito{
    font-size: 20px;
    width: 60%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 2rem;
    color: #7cebff;
    background-color: rgb(0, 0, 0);
    text-shadow: 2px 4px 4px rgb(255, 0, 149);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.titulo-carrito-responsive{
    display: none;
}
#contenedor-articulo-carrito{
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-color: #ffffff9a;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border: 5px solid #181818;
    box-shadow: 0px 0px 20px #28bec4;
}
#contenedor-contenedores{
    width: 95%;
    height: 100%;
    margin: 1rem auto;
    margin-bottom: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(255, 143, 208);
}
#contenedor-total-precio-comprar-vaciar-carrito{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #181818;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#div-total-precio-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#div-total-precio{
    display: flex;
    width: 100%;
    min-width: 160px;
    height: 32px;
    padding: 0 10px;
    border: 2px solid black;
    gap: 0.2rem;
    background-color: #7cebff;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#p-total{
    color: black;
    font-size: 20px;
}
#precio-total{
    color: #c3e1e7;
    text-shadow: 1px 1px 2px black,
                 0px 0px 10px  rgb(21, 255, 0);
    font-size: 20px;
}
#boton-comprar{
    width: 100px;
    height: 32px;
    border: 0;
    margin-right: 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(255, 0, 149);
    color: #7cebff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}
#boton-vaciar-carrito{
    width: 150px;
    height: 32px;
    border: 0;
    margin-left: 1rem;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(255, 0, 149);
    color: #7cebff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
}
.articulo-carrito{
    width: 95%;
    height: 70px;
    padding: 2rem;
    border-radius: 30px;
    background-color: rgb(39, 39, 39);
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
}
.titulo-articulo{
    font-size: 21px;
    color: #76e7eb;
    -webkit-text-stroke: 0.5px rgb(179, 179, 179);
    text-shadow: 0px 0px 5px rgb(255, 0, 149);
}
.info-articulo{
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 2px rgb(255, 0, 149);
}
.imagen-articulo-carrito{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
}
.div-nombre-articulo-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-cantidad-articulo-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-precio-articulo-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-icons-delete-add{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    color: #76e7eb;
    -webkit-text-stroke: 0.5px rgb(179, 179, 179);
    text-shadow: 0px 0px 5px rgb(255, 0, 149);
}
.icon-delete-articulo-carrito{
    cursor: pointer;
}
.icon-add-articulo-carrito{
    cursor: pointer;
}
.margen-final-abajo{
    width: 100%;
    height: 25px;
}
